{% extends 'base.html.twig' %}

{% block body %}
    {#<p>activiteit naam: </p>{{ activiteit.naam }} <br>#}
    {#<p>activiteit: beschrijving</p>{{ activiteit.beschrijving }} <br>#}
    {#    <p>activiteit: duur</p> {{ activiteit.duur }} <br>#}
    {#    <p>activiteit: prijs</p>{{ activiteit.prijs }} <br>#}
    <div class="wrapper">
        {% block nav %} {% include 'bezoeker/navbarBezoeker.html.twig' %} {% endblock %}

        <article>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title2">Huisregels</h5>
                    <p class="card-text"> Het lid dient 5 minuten voor aanvang van de les in trainingkleding aanwezig te zijn. <br>
                        Ziektes en dergelijke die van invloed kunnen zijn op het gedrag of lichamelijke gestel van de aanwezige, dienen kenbaar te worden gemaakt bij de leraar.<br>
                        Indien een lid een blessure heeft deze graag bij aanvang van de les melden bij de leraar.</p><br>

                </div>

            </div>
        </article>
        <article>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title2">contact</h5>
                    <p class="card-text"> Email: trainingfactory@hotmail.com</p><br>
                    <p class="card-text"> telefoon: 0655948831</p><br>
                    <p class="card-text"> adres: moerwijk 12 </p><br>
                    <p class="card-text"> postcode: 2255 AD</p><br>

                </div>

            </div>
        </article>




        <footer>
            <p>training factory &copy; 2019 copyright: Luciano</p>
        </footer>
    </div>
    </div>
    </div>


{% endblock %}
